//
// vim: fileencoding=utf-8 tabstop=4 softtabstop=4 shiftwidth=4 noexpandtab filetype=go
// run 'go fmt' before checking in your code!
//

package main

import "fmt"

func main() {
    fmt.Println("hello world")
}
