<?php
/*
* Short description for file
*
* Long description for file (if any)...
*/


/*
 * description for class
 */
class SampleClass
{

}

/*
 * description for function
 * @param type,meaning
 * @return type,meaning
 */
function sampleFunction()
{
  echo "Hello World!";
}
?>
